<div class="nav position-sticky bg-white main-nav border border-bottom-0 z-index-10 px-3 py-1">
  <h5 class="mb-1 font-weight-bold w-100"><%= @user.full_name %></h5>
  <h6 class="text-muted d-block">
    <small>@<%= @user.username %></small>
  </h6>
</div>

<div class="main-content bg-light">
<div class="profile-content bg-white">
  <ul class="nav nav-tabs border-right border-left justify-content-between" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <%= link_to "Followers", user_follower_path(@user), class: "nav-link active" %>
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to "Following", user_following_path(@user), class: "nav-link" %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="followers">
      <%= render 'users', users: @followers %>
    </div>
  </div>
</div>
</div>
