<div class="tweet-form bg-white">

  <div class="">
    <div class="user-cover-img">
    </div>

    <div class="usr-profile p-3 position-relative">
      <div class="clearfix">
        <%= image_tag "profile.jpg", alt: @user.full_name, class: "profile-img position-absolute"%>
        <%= follow_user_link @user, class: "btn btn-outline-primary py-1 px-4 font-weight-bold float-right" %>
      </div>

      <div class="clearfix mt-4">
        <div class="info">
          <h5 class="mb-1"><%= @user.full_name %></h5>
          <h6 class="text-muted">@<%= @user.username %></h6>
        </div>
        <div class="mt-3">
          <%= link_to user_following_path(@user), class: "mr-3 text-dark" do%>
            <span class="font-weight-bold"><%= @user.follows.count %> </span>
            <span class="text-muted">Following</span>
          <% end %>
          <%= link_to user_follower_path(@user), class: "text-dark" do %>
            <span class="font-weight-bold"><%= @user.followers.count %></span>
            <span class="text-muted"> Followers</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
