
<div class="p-0 border-left border-right center-container">
  <div class="nav position-sticky bg-white main-nav border-bottom z-index-10 px-3 py-1">
    <h5 class="mb-1 font-weight-bold w-100"><%= @user.full_name %></h5>
    <h6 class="text-muted d-block">
      <small><%= @user.opinions.count %> <%= 'Tweet'.pluralize(@user.opinions.count) %></small>
    </h6>
  </div>

  <div class="main-content bg-light">
    <div class="tweet-form bg-white">
      <div class="">
        <div class="user-cover-img">
        </div>

      </div>
    </div>

    <%= render 'profile_content' %>
  </div>
</div>

<%= render 'right_section' %>
