<header class="header pb-3 d-flex justify-content-between flex-column">
  <div class="mt-4">
    <div class="d-flex align-items-center">
      <%= image_tag "profile.jpg", alt: current_user.full_name, class: "usr-img d-inline-block mr-1" %>
      <div class="d-none d-xl-inline-block">
        <span class="d-block name font-weight-bold"><%= current_user.full_name %></span>
        <span class="username text-muted">@<%= current_user.username %></span>
      </div>
    </div>

    <hr>
    <div class="d-xl-flex justify-content-around">
      <%= link_to user_following_path(current_user), class: 'text-center' do %>
        <span class="d-block text-white"><%= current_user.follows.count %></span>
        <span class="d-block text-muted">Following</span>
      <% end %>
      <%= link_to user_follower_path(current_user), class: 'text-center' do %>
        <span class="d-block text-white"><%= current_user.followers.count %></span>
        <span class="d-block text-muted"><%= 'Follower'.pluralize(current_user.followers.count) %></span>
      <% end %>
    </div>

    <hr>
    <nav class="">

      <div class=" " id="navbarSupportedContent">
        <ul class="nav flex-column">
          <%# <li class="nav-item my-2">
            <a class="nav-link font-weight-bold text-white" href="/">
              <i class="icon fab fa-twitter fa-lg"></i>
            </a>
          </li> %>
          <li class="nav-item my-2">
            <a class="nav-link font-weight-bold active" href="/">
              <i class="icon pr-4 fas fa-home"></i>
              <span class="link-text d-none d-xl-inline-block">Home</span>
            </a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link font-weight-bold" href="#">
              <i class="icon pr-4 fas fa-hashtag"></i>
              <span class="link-text d-none d-xl-inline-block">Explore</span>
            </a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link font-weight-bold" href="#">
              <i class="icon pr-4 far fa-envelope"></i>
              <span class="link-text d-none d-xl-inline-block">Messages</span>
            </a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link font-weight-bold" href="#">
              <i class="icon pr-4 far fa-bookmark"></i>
              <span class="link-text d-none d-xl-inline-block">Bookmark</span>
            </a>
          </li>
          <li class="nav-item my-2">
            <%= link_to user_path(current_user), class: "nav-link font-weight-bold" do %>
              <i class="icon pr-4 far fa-user"></i>
              <span class="link-text d-none d-xl-inline-block">Profile</span>
            <% end %>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link font-weight-bold" href="#">
              <i class="icon pr-4 fas fa-ellipsis-h"></i>
              <span class="link-text d-none d-xl-inline-block">More</span>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to new_opinion_path, class: "btn btn-primary px-xl-5 font-weight-bold py-2" do %>
              <i class="fas fa-pen-fancy d-xl-none"></i>
              <span class="d-none d-xl-block px-xl-4">Tweet</span>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="mb-3">
  <hr>
    <%= link_to(destroy_user_session_path, method: :delete, class: "py-2 text-white", data: { confirm: "Are you sure you want to logout?" }) do %>
      <span>Logout @<%= current_user.username %></span>
    <% end %>
  </div>
</header>
