<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/fcf9201011.js" %>
  </head>

  <body>

    <%= render 'shared/alert' %>

    <% if user_signed_in? %>
      <div class="position-fixed z-index-10 bg-dark left-container d-none d-md-block p-3">
        <div class="">
          <%= render 'shared/header' %>
        </div>
      </div>

      <%= yield %>

    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
