<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/fcf9201011.js" %>
  </head>

  <body>

    <% if user_signed_in? %>
      <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xl-3 position-relative">
              <div class="position-fixed z-index-10">
                <%= render 'layouts/header' %>
              </div>
            </div>
            <div class="col-sm-10 col-lg-6 col-xl-5 position-relative p-0">
              <%= yield %>
            </div>
            <div class="col-lg-4 col-xl-4 border position-relative">
              <div class="position-fixed z-index-10">
                <%= render 'layouts/follow' %>
              </div>
            </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
